name: Publish Docker Image

on:
  release:
    types: [released]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Validate release target
        if: ${{ github.event.release.target_commitish != github.event.repository.default_branch }}
        run: exit 1

  push_to_registry:
    needs:
    - check
    name: Push Docker Image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Extract Metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: byteartis/docker-buf
          tags: |
            type=semver,pattern={{version}}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set ENV variables
        run: for v in `cat versions.env` ; do echo "${v%%=*}=${v##*=}" >> $GITHUB_ENV ; done

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BUF_VERSION=${{ env.BUF_VERSION }}
            PROTOBUF_VERSION=${{ env.PROTOBUF_VERSION }}
            PROTOBUF_GO_VERSION=${{ env.PROTOBUF_GO_VERSION }}
            PROTOBUF_JAVASCRIPT_VERSION=${{ env.PROTOBUF_JAVASCRIPT_VERSION }}
            PROTOBUF_PROTOPLUGIN_VERSION=${{ env.PROTOBUF_PROTOPLUGIN_VERSION }}
            PROTOBUF_ES_VERSION=${{ env.PROTOBUF_ES_VERSION }}
            GRPC_VERSION=${{ env.GRPC_VERSION }}
            GRPC_GO_VERSION=${{ env.GRPC_GO_VERSION }}
            GRPC_NODE_TOOLS_VERSION=${{ env.GRPC_NODE_TOOLS_VERSION }}
            GRPC_WEB_VERSION=${{ env.GRPC_WEB_VERSION }}
            GRPC_JAVA_VERSION=${{ env.GRPC_JAVA_VERSION }}
            CONNECT_GO_VERSION=${{ env.CONNECT_GO_VERSION }}
            CONNECT_ES_VERSION=${{ env.CONNECT_ES_VERSION }}
